#create_new_btn {
    width: 50%;
}

#text-top {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 20px 0px;
}

#save_btn {
    align: center;
    width: 40%;
    margin-top: 15px;
}

.event_time {
    font-size: small;
}

p {
    padding: 10px;
}